
body {
    background: #f1e7ca;
    color: #fff;
    letter-spacing: 1px;
    display: table-cell;
    font: 2rem;
    font-family: 'Titillium Web', sans-serif;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    display: grid;
  }
.title {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    padding-bottom: 0;
}
  
.container {
    max-width: 700px;
    /* margin: 0 auto; */
    text-align: center;
}
.grid-container {
    margin: 0.8em 0;
    cursor: pointer;
    width: 700px;
    height: 600px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
.grid-item {
    background-color: #fffaf1;
    /* border: 1px solid rgba(158, 156, 156, 0.178); */
    float: left;
}
.grid-item:hover {
    /* opacity: 1;  */
    background-color: grey;
    /* transition: opacity 0.2s ease; */
    /* transform: scale(1.04); */
}
button {
    background-color: #b4b3b079;
    border: 1px #969696;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font: 13px 'Silkscreen', monospace;
    color: rgb(0, 52, 110);
}
h1 {
    text-align: center;
    color: rgb(0, 52, 110);
}
/* Global Styles */
body {
    justify-content: center;
    color: grey;

}